/* @import url(https://fonts.googleapis.com/css?family=Roboto%20Mono); */
@import "static/mdi/font/css/materialdesignicons.min.css";

:root {
    --primary-color: #2851e3;
    }

.theme--light a:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    color: var(--primary-color);
    text-decoration: none;
}

.theme--light a:hover:not(.v-btn, .v-card, .v-chip, .v-list-item),
.theme--light a:focus:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    text-decoration: underline;
}

.theme--dark a:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    color: var(--primary-color);
    text-decoration: none;
}

.theme--dark a:hover:not(.v-btn, .v-card, .v-chip, .v-list-item),
.theme--dark a:focus:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    text-decoration: underline;
}

.text-color {
    color: var(--text) !important;
}

.theme--light a.text-color:hover {
    color: var(--primary-color) !important;
}

.theme--dark a.text-color:hover {
    color: var(--primary-color) !important;
}

pre,
code {
    font-family: 'Fira Code', 'Roboto Mono', Consolas, monospace, 'Courier New', Courier, ui-monospace, SFMono-Regular, SF Mono, Menlo, 'Liberation Mono';
    border-radius: 3px;
}

.theme--light.v-application pre {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.2em 0.4em;
}

.theme--light.v-application pre code,
.theme--dark.v-application pre code {
    background-color: transparent;
    padding: 0;
}

.theme--dark.v-application pre {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em 0.4em;
}

.theme--light .grey-text {
    color: #888;
}

.theme--dark .grey-text {
    color: #FFFB;
}

.theme--light.v-app-bar {
    background-color: #FFFFFFEE !important;
    backdrop-filter: brightness(120%) blur(14px) !important;
}

.theme--dark.v-app-bar {
    background-color: #272727C8 !important;
    backdrop-filter: brightness(80%) blur(14px) !important;
}

.theme--light.cardblur {
    background-color: #FFFFFFBB !important;
    backdrop-filter: blur(14px) !important;
}

.theme--dark.cardblur {
    background-color: #27272795 !important;
    backdrop-filter: blur(14px) !important;
}

.theme--light.project-thumbnail-info {
    background-color: #FFFFFF88 !important;
    backdrop-filter: blur(14px) !important;
}

.theme--dark.project-thumbnail-info {
    background-color: #27272762 !important;
    backdrop-filter: blur(14px) !important
}

/*.v-image {
    border-radius: 15px;
}*/

.hide-del {
    color: transparent;
    transition: color 0.3s ease;
    transition-delay: 0s;
    text-decoration: none;
}

.hide-del:hover {
    color: var(--text);
    transition-delay: 0.5s;
}

.diff-addition {
    color: #0a0;
    background-color: #2EA04326;
}

.diff-deletion {
    color: red;
    background-color: #F8514926;
}

canvas {
    border-radius: 15px;
}
