/* @import url(https://fonts.googleapis.com/css?family=Roboto%20Mono); */
@import "static/mdi/font/css/materialdesignicons.min.css";

:root {
    --primary-color: #2196F3;
    --blur: none;
}

.theme--light a:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    color: var(--primary-color);
    text-decoration: none;
}

.theme--light a:hover:not(.v-btn, .v-card, .v-chip, .v-list-item),
.theme--light a:focus:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    text-decoration: underline;
}

.theme--dark a:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    color: var(--primary-color);
    text-decoration: none;
}

.theme--dark a:hover:not(.v-btn, .v-card, .v-chip, .v-list-item),
.theme--dark a:focus:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    text-decoration: underline;
}

.text-color {
    color: var(--text) !important;
}

.theme--light a.text-color:hover {
    color: var(--text) !important;
}

.theme--dark a.text-color:hover {
    color: var(--text) !important;
}

pre,
code {
    font-family: 'Fira Code', 'Roboto Mono', Consolas, monospace, 'Courier New', Courier, ui-monospace, SFMono-Regular, SF Mono, Menlo, 'Liberation Mono';
    border-radius: 3px;
}

.theme--light.v-application pre {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.2em 0.4em;
}

.theme--light.v-application pre code,
.theme--dark.v-application pre code {
    background-color: transparent;
    padding: 0;
}

.theme--dark.v-application pre {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em 0.4em;
}

.theme--light .grey-text {
    color: #888;
}

.theme--dark .grey-text {
    color: #FFFB;
}

.theme--light.v-app-bar {
    background-color: #ffffff !important;
    backdrop-filter: var(--blur) !important;
}

.theme--light.v-chip {
    background-color: #ffffff !important;
    backdrop-filter: var(--blur) !important;
}

.theme--dark.v-app-bar {
    background-color: #121212 !important;
    backdrop-filter: var(--blur) !important;
}
.theme--dark.v-chip {
    background-color: #1E1E1E !important;
    backdrop-filter: var(--blur) !important;
}

.theme--light.cardblur {
    background-color: #FFFFFF !important;
    backdrop-filter: var(--blur) !important;
}

.theme--dark.cardblur {
    background-color: #272727 !important;
    backdrop-filter: var(--blur) !important;
}

.img-hoverable .v-image__image {
    transition: filter 0.3s ease;
}

.img-hoverable:hover .v-image__image {
    filter: opacity(0.4) !important;
}

/*.v-image {
    border-radius: 15px;
}*/

.hide-del {
    color: transparent;
    transition: color 0.3s ease;
    transition-delay: 0s;
    text-decoration: none;
    cursor: pointer;
}

.hide-del:hover {
    color: var(--text);
    transition-delay: 0.5s;
}

.diff-addition {
    color: #0a0;
    background-color: #2EA04326;
}

.diff-deletion {
    color: red;
    background-color: #F8514926;
}

.theme--light.grey-footer {
    background-color: #EEEEEE;
}

.theme--dark.grey-footer {
    background-color: #161616;
}

canvas {
    border-radius: 15px;
}
.rounded-btn {
    height: 30px !important;
    min-width: 30px !important;
    padding: 0 !important;
}
.v-chip-opacity {
    opacity: .7;
}
