/* @import url(https://fonts.googleapis.com/css?family=Roboto%20Mono); */
@import "static/mdi/font/css/materialdesignicons.min.css";

:root {
    --primary-color: #2196F3;
    --blur: none;
}

.theme--light a:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    color: var(--primary-color);
    text-decoration: none;
}

.theme--light a:hover:not(.v-btn, .v-card, .v-chip, .v-list-item),
.theme--light a:focus:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    text-decoration: underline;
}

.theme--dark a:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    color: var(--primary-color);
    text-decoration: none;
}

.theme--dark a:hover:not(.v-btn, .v-card, .v-chip, .v-list-item),
.theme--dark a:focus:not(.v-btn, .v-card, .v-chip, .v-list-item) {
    text-decoration: underline;
}

.text-color {
    color: var(--text) !important;
}

.theme--light a.text-color:hover {
    color: var(--text) !important;
}

.theme--dark a.text-color:hover {
    color: var(--text) !important;
}

pre,
code {
    font-family: 'Fira Code', 'Roboto Mono', Consolas, monospace, 'Courier New', Courier, ui-monospace, SFMono-Regular, SF Mono, Menlo, 'Liberation Mono';
}

pre {
    padding: 0 16px !important;
    border-radius: 6px;
    overflow: auto;
    margin-bottom: 16px;
    margin-top: 8px;
}

.theme--light.v-application pre {
    background-color: rgba(0, 0, 0, 0.05);
}

.theme--light.v-application pre code,
.theme--dark.v-application pre code {
    background-color: transparent;
    padding: 16px 0 !important;
    /* padding: 0; */
}

.theme--dark.v-application pre {
    background-color: rgba(255, 255, 255, 0.1);
}

.theme--light .grey-text {
    color: #888;
}

.theme--dark .grey-text {
    color: #FFFB;
}

.theme--light.v-app-bar {
    background-color: #ffffff !important;
    backdrop-filter: var(--blur) !important;
}

.theme--light.v-chip {
    background-color: #ffffff !important;
    backdrop-filter: var(--blur) !important;
}

.theme--dark.v-app-bar {
    background-color: #121212 !important;
    backdrop-filter: var(--blur) !important;
}

.theme--dark.v-chip {
    background-color: #1E1E1E !important;
    backdrop-filter: var(--blur) !important;
}

.theme--light.cardblur {
    background-color: #FFFFFF !important;
    backdrop-filter: var(--blur) !important;
}

.theme--dark.cardblur {
    background-color: #272727 !important;
    backdrop-filter: var(--blur) !important;
}

/*.v-image {
    border-radius: 15px;
}*/

.hide-del {
    color: transparent;
    transition: color 0.3s ease;
    transition-delay: 0s;
    cursor: pointer;
}

.hide-del:hover {
    color: var(--text);
    transition-delay: 0.3s;
}

.diff-addition {
    color: #0a0;
    background-color: #2EA04326;
}

.diff-deletion {
    color: red;
    background-color: #F8514926;
}

.theme--light.grey-footer {
    background-color: #EEEEEE;
}

.theme--dark.grey-footer {
    background-color: #161616;
}

canvas {
    border-radius: 15px;
}

.rounded-btn {
    height: 30px !important;
    min-width: 30px !important;
    padding: 0 !important;
}


/* 
.nuxt-link-active {
    color: red;
}
.nuxt-link-exact-active {
    color: green;
}
.nuxt-link-prefetched {
    color: orangeRed;
} */

.v-skeleton-loader {
    border-radius: none;
}

.theme--dark.v-list {
    background: transparent !important;
}

blockquote {
    padding: 0.5em 1em;
    margin: 16px 0;
    font-weight: unset;
    font-size: unset;
}

.theme--light blockquote {
    border-left: 4px solid #D1D7DD;
}

.theme--dark blockquote {
    border-left: 4px solid #353535;
}

p {
    margin-block-end: 16px;
    margin-block-start: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-end: 20px;
    margin-block-start: 20px;
    line-break: anywhere;
}

table {
    position: relative;
    width: 100%;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
}

.theme--dark table {
    border: 1px solid #353535;
}

.theme--light table {
    border: 1px solid #D1D7DD;
}

th {
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td,
th {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 28px;
    text-align: left;
    vertical-align: middle;
}

.theme--dark td,
.theme--dark th {
    border-bottom: 1px solid #353535;
}

.theme--light td,
.theme--light th {
    border-bottom: 1px solid #D1D7DD;
}

hr {
    margin: 4px 0;
}

.theme--dark hr {
    border: solid #353535;
    height: 0px;
    max-height: 0px;
    border-width: thin 0 0 0;
}

.theme--light hr {
    border: solid #D1D7DD;
    height: 0px;
    max-height: 0px;
    border-width: thin 0 0 0;
}
.v-list {
    padding: 2px 0;
}
.vuedl-notification {
    border-radius: 20px;
}
.v-label {
    font-weight: bold !important;
}
.v-text-field {
    margin-top: 12px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 99999s;
    transition: color 99999s ease-out, background-color 99999s ease-out;
}