$border-radius-root: 20px;
$btn-border-radius: 15px;
$btn-round-border-radius: $border-radius-root;
$btn-rounded-border-radius: $border-radius-root;
$text-field-border-radius: $btn-border-radius;
$text-field-filled-border-radius: $btn-border-radius;
$avatar-border-radius: $btn-border-radius;
$shadow-key-ambient: (
    0: (0px 0px 0px rgba(20, 20, 20, 0.05)),
    1: (0px 0px 4px rgba(20, 20, 20, 0.05)),
    2: (0px 1px 7px rgba(20, 20, 20, 0.06)),
    3: (0px 2px 10px rgba(20, 20, 20, 0.07)),
    4: (0px 3px 13px rgba(20, 20, 20, 0.08)),
    5: (0px 4px 16px rgba(20, 20, 20, 0.09)),
    6: (0px 5px 20px rgba(20, 20, 20, 0.10)),
    7: (0px 5px 22px rgba(20, 20, 20, 0.11)),
    8: (0px 6px 24px rgba(20, 20, 20, 0.12)),
    9: (0px 6px 26px rgba(20, 20, 20, 0.13)),
    10: (0px 7px 28px rgba(20, 20, 20, 0.14)),
    11: (0px 7px 30px rgba(20, 20, 20, 0.15)),
    12: (0px 8px 30px rgba(20, 20, 20, 0.15)),
    13: (0px 11px 35px rgba(20, 20, 20, 0.15)),
    14: (0px 15px 40px rgba(20, 20, 20, 0.15)),
    15: (0px 18px 45px rgba(20, 20, 20, 0.15)),
    16: (0px 22px 50px rgba(20, 20, 20, 0.15)),
    17: (0px 26px 55px rgba(20, 20, 20, 0.15)),
    18: (0px 30px 60px rgba(20, 20, 20, 0.15)),
    19: (0px 32px 64px rgba(20, 20, 20, 0.16)),
    20: (0px 32px 68px rgba(20, 20, 20, 0.18)),
    21: (0px 36px 72px rgba(20, 20, 20, 0.20)),
    22: (0px 38px 76px rgba(20, 20, 20, 0.22)),
    23: (0px 40px 80px rgba(20, 20, 20, 0.24)),
    24: (0px 40px 80px rgba(20, 20, 20, 0.25))
  );
$shadow-key-penumbra-opacity: rgba(20, 20, 20, 0);
$shadow-key-umbra-opacity: rgba(20, 20, 20, 0);
$btn-sizes: ('default': 40);
$card-elevation: 6;
// $color-pack: false;
$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$material-light: ('cards': transparent);